---
// TODO(HiDeoo)
// import '@unocss/reset/tailwind.css'
---

<!doctype html>
<html lang="en">
  <head>
    {/* https://github.com/withastro/prettier-plugin-astro/issues/316#issuecomment-1400808708 */}
    <!-- // TODO(HiDeoo)  -->
    <!-- {(<Head />)} -->
  </head>
  <body>
    <!-- // TODO(HiDeoo)  -->
    <!-- <SkipLink /> -->
    <main id="content">
      <h1>TITLE</h1>
      <slot />
    </main>
    <!-- // TODO(HiDeoo)  -->
    <!-- <Footer /> -->
  </body>
</html>
